.beke-image {
  margin-left: auto;
  margin-right: auto; 
  min-height: 520px;
  width: 1500px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("/Kj2LfnF.jpg");
  background-size: cover;
  background-position: center;
}

.hello, .beke {
  font-family: 'Abril Fatface', cursive;
  font-weight: 300;
  color: #222;
  margin-left: 150px;
  line-height: 20%; 
}

.beke {
   margin-bottom: 80px;
   margin-top: 50px;
   font-size: 90px;
}

.hello {
   margin-bottom: 0px;
   font-size: 40px;
}

p, ul {
  max-width: 890px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px; 
  line-height: 140%;
  color: black;
  margin-left:auto;
  margin-right:auto;
}

h5, .googledoc, .middle {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.googledoc {
 font-size: 22px;
 color: rgb(233, 16, 16);
}

li {
 margin-left: 20px; 
}

h3 {
  max-width: 890px;
  font-family: 'Rubik', sans-serif;
  font-size: 28px; 
  line-height: 140%;
  color: black;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 40px;
  margin-top: 45px;
 }

blockquote p {
  margin-top: 45px; 
  background: #222;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  width: auto; 
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;  
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 23px;
  
}

 blockquote p::before {
  content: '“';
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 100px;
}       

.footer-widget {
  border-top: 4px solid #000;
 
}

a {
  color: #0F2890;
  margin: 10px;
  text-decoration: none;
}
a:hover {
  color: #3399ff;
  text-decoration: none;
}
a.grf1:hover {
  color: #3cb878;
} 

a.gdoc:hover {
  color: rgb(233, 16, 16);
} 
